.article-layout {
  background-color: var(--fispo-c-card-bg);
  border-radius: var(--default-border-radius);
  padding: 50px 40px;
  box-shadow: var(--box-shadow);
  line-height: 2;
  transition: all 0.3s;
  color: var(--fispo-c-card-text);

  .article-content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      position: relative;
      margin: 20px 0 14px;
      color: var(--fispo-c-article-title);
      font-weight: bold;
      transition: all 0.3s;
    }

    h1 a,
    h2 a,
    h3 a,
    h4 a,
    h5 a,
    h6 a {
      margin-right: 5px;
    }

    blockquote {
      margin: 0 0 20px;
      padding: 12px 15px;
      border-left: 3px solid var(--fispo-c-blue);
      background-color: var(--fispo-blockquote-bg);
      color: var(--fispo-blockquote-color);
      transition: all 0.3s;

      & > :last-child {
        margin-bottom: 0 !important;
      }
    }

    p {
      margin: 0 0 16px;
    }

    ul,
    ol {
      padding-left: 40px;
      margin-top: 16px;
      list-style-type: decimal;

      li {
        margin: 4px 0;
      }
    }

    ul li {
      list-style-type: circle;

      &::marker {
        color: var(--fispo-c-blue);
        font-weight: 600;
        font-size: 1.05em;
      }

      &:hover::marker {
        color: var(--fispo-li-hover-color);
      }
    }

    ol li {
      &::marker {
        color: var(--fispo-c-blue);
      }

      &:hover::marker {
        color: var(--fispo-li-hover-color);
      }
    }

    table {
      display: table;
      width: 100%;
      border-spacing: 0;
      border-collapse: collapse;
      empty-cells: show;
      margin-bottom: 20px;

      thead {
        background: rgba(153, 169, 191, 0.1);
      }

      th,
      td {
        padding: 6px 12px;
        border: 1px solid var(--fispo-c-gray-4);
        vertical-align: middle;
      }
    }

    a {
      color: #99a9bf;

      &:hover {
        text-decoration: underline;
      }
    }

    img {
      cursor: zoom-in;
    }
  }

  .post-copyright {
    position: relative;
    margin: 40px 0px 10px;
    padding: 10px 16px;
    border: 1px solid var(--fispo-c-gray-4);
    transition: box-shadow 0.3s ease-in-out;

    &::before {
      position: absolute;
      top: 12px;
      right: 12px;
      width: 20px;
      height: 20px;
      background-color: var(--fispo-c-blue);
      color: var(--fispo-c-white);
      content: "C";
      font-size: 1rem;
      border-radius: 50%;
      line-height: 1.2;
      text-align: center;
      font-weight: 600;
    }

    &-item {
      span:first-child {
        color: var(--fispo-c-blue);
        font-weight: bold;
      }

      a {
        color: rgb(153, 169, 191);
        text-decoration: underline;
        transition: all 0.3s;
        word-break: break-all;

        &:hover {
          color: var(--fispo-c-blue);
          text-decoration: none;
        }
      }
    }
  }

  .article-tag {
    display: flex;
    flex-wrap: wrap;
    height: 44px;
    width: 100%;
    span a {
      display: inline-block;
      color: var(--fispo-c-blue);
      font-size: 0.85em;
      margin: 8px 8px 8px 0px;
      padding: 0px 12px;
      border: 1px solid var(--fispo-c-blue);
      border-radius: 12px;
      transition: 0.2s ease-in-out;

      &:hover {
        color: var(--fispo-c-white);
        background-color: var(--fispo-c-blue);
      }
    }
  }

  .article-pagination {
    overflow: hidden;
    margin-top: 40px;
    width: 100%;
    height: 150px;
    background-color: #000;
    display: flex;

    .pagination-left,
    .pagination-right {
      flex: 1;
      height: 100%;
    }

    .pagination-info {
      color: var(--fispo-c-white);
      z-index: 1;
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 20px 40px;
      line-height: 2;
    }

    .pagination-right .pagination-info {
      text-align: right;
    }
  }

  .article-recommend {
    margin-top: 40px;
    .recommend-title {
      margin-bottom: 5px;
      font-weight: 700;
      font-size: 1.43rem;
    }

    .recommend-list {
      display: flex;
      flex-wrap: wrap;
      & > div {
        display: inline-block;
        margin: 3px;
        width: calc(33.333% - 6px);
        height: 200px;
        background: #000;
        vertical-align: bottom;
      }
    }

    .recommend-info {
      position: absolute;
      top: 50%;
      padding: 0 20px;
      width: 100%;
      transform: translate(0, -50%);
      display: flex;
      flex-direction: column;
      text-align: center;
      color: var(--fispo-c-white);
    }
  }

  .article-img-hover {
    position: relative;
    overflow: hidden;
    a {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0.4;
      filter: alpha(opacity = 40);
      transition:
        all 0.6s,
        filter 375ms ease-in 0.2s;
      object-fit: cover;
    }

    &:hover {
      img {
        opacity: 0.8;
        transform: scale(1.1);
      }
    }
  }
}

code {
  font-size: 14px;
  padding: 2px 4px;
  background: rgba(27, 31, 35, 0.05);
  color: #f47466;
}
