.sidebar {
  padding-top: 10px;
  width: 180px;
  height: calc(100vh - 60px);
  position: fixed;
  top: 60px;
  left: 10%;
  transition: all 0.3s;

  .sidebarGroup {
    padding-bottom: 15px;
    border-bottom: 1px solid #d3d3d3;
  }

  .sidebarTitle {
    h2 {
      font-size: 1rem;
    }
  }

  .sidebarContent {
    margin-bottom: 10px;
  }

  .sidebarItem {
    font-size: 0.9rem;
    margin-bottom: 10px;
  }

  .active {
    font-weight: 700;

    a {
      color: #1b9bf0;
    }
  }
}

@media screen and (max-width: 1440px) {
  .sidebar {
    left: 5%;
  }
}
