._layout_luyrs_1 {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}._nav_1wfjm_1 {
  position: fixed;
  width: 100%;
  height: 60px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--fispo-nav-c-bg);
  transition: all 0.3s;
  box-shadow: 0 5px 6px -5px rgba(133, 133, 133, 0.6);
  padding: 0 10%;
  z-index: 10000;
  backdrop-filter: blur(30px);
}
._nav_1wfjm_1 ._blog-name_1wfjm_16 {
  margin-right: 5px;
  display: flex;
  align-items: center;
}
._nav_1wfjm_1 ._blog-name_1wfjm_16 img {
  width: 28px;
  height: 28px;
  margin-right: 10px;
}
._nav_1wfjm_1 ._blog-name_1wfjm_16 a {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--fispo-c-text);
}
._nav_1wfjm_1 a {
  display: inline-block;
  line-height: 60px;
  color: var(--fispo-nav-c-text);
  transition: all 0.3s;
  font-size: 1.2rem;
}
._nav_1wfjm_1 ._menus_1wfjm_38 {
  transition: all 0.3s;
}
._nav_1wfjm_1 ._menus_1wfjm_38 ul {
  display: flex;
  margin: 0;
}
._nav_1wfjm_1 ._menus_1wfjm_38 ul li {
  margin-left: 30px;
}
._nav_1wfjm_1 ._menus_1wfjm_38 ul li span {
  margin-left: 5px;
}
._nav-left_1wfjm_51 {
  height: 100%;
  display: flex;
}
._nav-right_1wfjm_55 {
  height: 100%;
}
._nav-right-tools_1wfjm_58 {
  display: flex;
}
._nav-right-menus_1wfjm_61 {
  display: none;
  height: 100%;
  line-height: 60px;
}
._nav_1wfjm_1 svg {
  cursor: pointer;
  transition: all 0.3s;
  color: var(--fispo-nav-c-text);
  font-size: 1.2rem;
}
._nav_1wfjm_1 svg:hover {
  color: var(--fispo-c-blue);
}
._nav-tools-item_1wfjm_75 {
  position: relative;
  height: 100%;
  line-height: 60px;
  padding: 0 15px;
}
._nav-tools-item_1wfjm_75:not(:first-child)::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 1.2rem;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #afafaf;
}
._nav-menus_1wfjm_91 {
  border-top: 1px solid #e4e9ec;
  position: fixed;
  right: 0;
  z-index: 1000;
  background-color: var(--fispo-nav-c-bg);
  width: 100%;
  height: calc(100vh - 60px);
  top: -100%;
  transition: all 0.3s;
  display: none;
  backdrop-filter: blur(30px);
}
._nav-menus_1wfjm_91 svg {
  cursor: pointer;
  transition: all 0.3s;
  color: #4f5866;
  font-size: 1.2rem;
}
._nav-menus_1wfjm_91 svg:hover {
  color: var(--fispo-c-blue);
}
._nav-menus_1wfjm_91 ul li {
  width: 100%;
  padding: 10px;
  text-align: center;
}
._nav-menus_1wfjm_91 ul li a {
  font-size: 1.2rem;
}
._nav-menus-show_1wfjm_121 {
  top: 60px;
}
._nav-menus-tools_1wfjm_124 {
  border-top: 1px solid #e4e9ec;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

._nav-top_1wfjm_132 {
  box-shadow: none;
}

@media screen and (max-width: 750px) {
  ._nav_1wfjm_1 {
    padding: 0 20px;
  }
  ._nav_1wfjm_1 ._menus_1wfjm_38 {
    display: none;
  }
  ._nav-right-tools_1wfjm_58 {
    display: none;
  }
  ._nav-right-menus_1wfjm_61 {
    display: block;
  }
  ._nav-menus_1wfjm_91 {
    display: block;
  }
}
@media screen and (max-width: 1440px) {
  ._nav_1wfjm_1 {
    padding: 0 5%;
  }
}:root {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Lato,
    Roboto, "PingFang SC", "Microsoft YaHei", sans-serif;

  --default-bg-color: #49b1f5;
  --box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.05);
  --default-border-radius: 8px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #8ab5ff #e6efff;
  word-wrap: break-word;
}

*::selection {
  background: #00c4b6;
  color: #f7f7f7;
}

body {
  background: var(--fispo-c-bg);
  position: relative;
  color: var(--fispo-c-text);
  font-size: 1rem;
  font:
    500 14px Lexend,
    "Noto Sans SC",
    sans-serif;

  transition: background 0.3s;
}

img {
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

ol,
ul {
  list-style: none;
}

input,
button,
select,
textarea {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: var(--fispo-c-text);
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  transition: all 0.3s;
}

a:hover {
  color: var(--fispo-c-blue);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--fispo-c-text);
  font-weight: 700;
  margin: 15px 0;
  word-break: keep-all;
}

ol,
p,
ul {
  line-height: 1.7;
  font-size: 1rem;
}

p {
  margin: 15px 0;
}

.mobile-nav {
  overflow: hidden;
}
/**
 * Colors Base
 *
 * These are the pure base color presets. Most of the time, you should not be
 * using these colors directly in the theme but rather use "Colors Theme"
 * instead because those are "Theme (light or dark)" dependant.
 * -------------------------------------------------------------------------- */

:root {
  --fispo-c-white: #ffffff;
  --fispo-c-white-1: #f6f8fa;
  --fispo-c-white-2: #f6f8fa46;
  --fispo-c-white-3: #efefef;

  --fispo-c-gray: #4c4948;
  --fispo-c-gray-1: #a9adb3;
  --fispo-c-gray-2: #4f5866;
  --fispo-c-gray-3: #dfdfd6;
  --fispo-c-gray-4: #eee;

  --fispo-c-blue: #49b1f5;
  --fispo-c-blue-1: #5da6d6;
  --fispo-text-highlight-color: #1f2d3d;

  --fispo-c-orange: #ff7242;

  --fispo-c-dark: #1c1c1c;
  --fispo-c-dark-1: #050709;
  --fispo-c-dark-2: #05070991;
  --fispo-c-dark-3: #3c3c43;
  --fispo-c-dark-4: #202127;

  --fispo-c-dark-5: #121212;
  --fispo-c-dark-6: rgba(0, 0, 0, 0.3);
  --fispo-c-dark-7: #2c2c2c;
  --fispo-c-dark-8: #1f1f1f;

  --fispo-c-green-1: #00c4b6;
}

/**
 * Colors Theme
 * -------------------------------------------------------------------------- */

:root {
  --fispo-c-bg: var(--fispo-c-white-1);
  --fispo-nav-c-bg: var(--fispo-c-white-2);
  --fispo-nav-c-text: var(--fispo-c-gray-2);
  --fispo-c-text: var(--fispo-c-dark);

  --fispo-hero-c-title: var(--fispo-c-blue);
  --fispo-hero-c-text: var(--fispo-c-dark-3);
  --fispo-block-c-bg: var(--fispo-c-gray-4);

  --fispo-doc-c-bg: var(--fispo-c-white);
  --fispo-code-block-c-bg: #f6f6f7;
}

.dark {
  --fispo-c-bg: var(--fispo-c-dark-1);
  --fispo-nav-c-bg: var(--fispo-c-dark-2);
  --fispo-nav-c-text: var(--fispo-c-gray-1);
  --fispo-c-text: var(--fispo-c-white-3);

  --fispo-hero-c-title: var(--fispo-c-blue-1);
  --fispo-hero-c-text: var(--fispo-c-gray-3);
  --fispo-block-c-bg: var(--fispo-c-dark-4);

  --fispo-doc-c-bg: var(--fispo-c-dark);
  --fispo-code-block-c-bg: rgb(36, 41, 46);
}
div[class*="language-"] {
  box-shadow: 0 2px 12px 0 #0000001a;
  border-radius: 5px;
  margin: 15px 0;
  overflow: hidden;
  white-space: normal;
  position: relative;
}

.highlight-tools .lang {
  display: none;
}

.highlight-tools {
  position: absolute;
  right: 0;
  padding: 6px 10px 6px 0;
  z-index: 100;
}

div[class*="language-"]:hover #copy-button {
  opacity: 1;
}

.shiki {
  position: relative;
  padding: 15px;
  background-color: var(--fispo-code-block-c-bg) !important;
}

[class*="language-"] .shiki code {
  background-color: transparent;
  line-height: 1.5;
  padding: 0;
  font-size: 14px;
}

[class*="language-"] pre {
  position: relative;
  z-index: 1;
  margin: 0;
  overflow-x: auto;
  scrollbar-color: #a1a1a1 transparent;
}

/**
 * note
 * 外挂标签样式
 * -------------------------------------------------------------------------- */

.note {
  position: relative;
  margin-bottom: 15px;
  padding: 15px 15px 15px 44px;
  border-radius: 3px;
}

.note > :nth-child(2) {
  margin-top: 0 !important;
}

.note > :last-child {
  margin-bottom: 0 !important;
}

.note.no-icon {
  padding-left: 15px;
}

.note .note-icon {
  position: absolute;
  top: calc(50% - 10px);
  left: 15px;
  font-size: 1rem;
}

/* note simple */

.note.simple {
  border: 1px solid rgb(238, 238, 238);
  border-left: 5px solid rgb(238, 238, 238);
}

.note.simple p {
  color: rgb(76, 73, 72);
  font-size: small;
}

.note.default.simple {
  border-left-color: rgb(119, 119, 119);
}

.note.default.simple .note-icon {
  color: rgb(119, 119, 119);
}

.note.primary.simple {
  border-left-color: rgb(111, 66, 193);
}

.note.primary.simple .note-icon {
  color: rgb(111, 66, 193);
}

.note.success.simple {
  border-left-color: rgb(92, 184, 92);
}

.note.success.simple .note-icon {
  color: rgb(92, 184, 92);
}

.note.info.simple {
  border-left-color: rgb(66, 139, 202);
}

.note.info.simple .note-icon {
  color: rgb(66, 139, 202);
}

.note.warning.simple {
  border-left-color: rgb(240, 173, 78);
}

.note.warning.simple .note-icon {
  color: rgb(240, 173, 78);
}

.note.danger.simple {
  border-left-color: rgb(217, 83, 79);
}

.note.danger.simple .note-icon {
  color: rgb(217, 83, 79);
}

/* note simple */

/* note modern */
.note.modern p {
  font-size: small;
}

.note.modern {
  background: rgb(245, 245, 245);
  color: #666;
}

.note.default.modern {
  background: #f3f3f3;
  color: #666;
}

.note.primary.modern {
  background: #f3daff;
  color: #6f42c1;
}

.note.success.modern {
  background: #dff0d8;
  color: #3c763d;
}

.note.info.modern {
  background: #d9edf7;
  color: #31708f;
}

.note.warning.modern {
  background: #fcf4e3;
  color: #8a6d3b;
}

.note.danger.modern {
  background: #f2dfdf;
  color: #a94442;
}
/* note modern */

/* note flat */

.note.flat {
  background-color: rgb(249, 249, 249);
  border: 1px solid rgb(238, 238, 238);
  border-left: 5px solid rgb(238, 238, 238);
}

.note.flat p {
  color: rgb(76, 73, 72);
  font-size: small;
}

.note.default.flat {
  background: rgb(247, 247, 247);
  border-left-color: rgb(119, 119, 119);
}

.note.default.flat .note-icon {
  color: rgb(119, 119, 119);
}

.note.primary.flat {
  background: rgb(245, 240, 250);
  border-left-color: rgb(111, 66, 193);
}

.note.primary.flat .note-icon {
  color: rgb(111, 66, 193);
}

.note.success.flat {
  background: rgb(239, 248, 240);
  border-left-color: rgb(92, 184, 92);
}

.note.success.flat .note-icon {
  color: rgb(92, 184, 92);
}

.note.info.flat {
  background: rgb(238, 247, 250);
  border-left-color: rgb(66, 139, 202);
}

.note.info.flat .note-icon {
  color: rgb(66, 139, 202);
}

.note.warning.flat {
  background: rgb(253, 248, 234);
  border-left-color: rgb(240, 173, 78);
}

.note.warning.flat .note-icon {
  color: rgb(240, 173, 78);
}

.note.danger.flat {
  background: rgb(252, 241, 242);
  border-left-color: rgb(217, 83, 79);
}

.note.danger.flat .note-icon {
  color: rgb(217, 83, 79);
}

/* note flat */

/* note */
._homeLayout_i4l93_1 {
  padding-top: 200px;
  margin: 0 10%;
}
._homeLayout_i4l93_1 ._home-hero_i4l93_5 {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}
._homeLayout_i4l93_1 ._home-hero-left_i4l93_11 {
  width: 40%;
  margin-right: 15%;
}
._homeLayout_i4l93_1 ._home-hero-left_i4l93_11 h1 {
  font-weight: 700;
  font-size: 6rem;
  margin-bottom: 32px;
  color: var(--fispo-hero-c-title);
  text-shadow: 0 10px 20px rgba(109, 194, 250, 0.5215686275);
  white-space: nowrap;
}
._homeLayout_i4l93_1 ._home-hero-left_i4l93_11 p {
  font-weight: 700;
  font-size: 2rem;
  text-shadow: 0 10px 20px rgba(109, 109, 109, 0.3019607843);
  color: var(--fispo-hero-c-text);
}
._homeLayout_i4l93_1 ._home-hero-button_i4l93_29 a {
  background-color: var(--fispo-block-c-bg);
  height: 50px;
  line-height: 50px;
  font-size: 1rem;
  padding: 12px 24px;
  border-radius: 20px;
  font-weight: 700;
}
._homeLayout_i4l93_1 ._home-hero-button_i4l93_29 a:not(._homeLayout_i4l93_1 ._home-hero-button_i4l93_29 a:first-child) {
  margin-left: 20px;
}
._homeLayout_i4l93_1 ._home-hero-button_i4l93_29 a:hover {
  background-color: var(--fispo-c-blue);
  color: #fff;
}
._homeLayout_i4l93_1 ._home-hero-right_i4l93_45 {
  position: relative;
}
._homeLayout_i4l93_1 ._home-hero-right_i4l93_45 img {
  width: 300px;
  height: 300px;
  filter: drop-shadow(-2px 4px 6px rgba(0, 0, 0, 0.2));
  transition: all 0.3s;
}
._homeLayout_i4l93_1 ._home-hero-right-img-bg_i4l93_54 {
  width: 300px;
  height: 300px;
  position: absolute;
  border-radius: 50%;
  filter: blur(70px);
  background-image: linear-gradient(var(--fispo-c-blue) 50%, #004cfe 50%);
  transition: all 0.3s;
}
._homeLayout_i4l93_1 ._home-feature_i4l93_63 {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
._homeLayout_i4l93_1 ._home-feature_i4l93_63 ._home-feature-item_i4l93_69 {
  border-radius: 10px;
  background-color: var(--fispo-block-c-bg);
  width: 40%;
  margin: 20px;
  padding: 20px;
  color: var(--fispo-hero-c-text);
}
._homeLayout_i4l93_1 ._home-feature_i4l93_63 i {
  font-size: 2rem;
}

@media screen and (max-width: 1440px) {
  ._homeLayout_i4l93_1 {
    margin: 0 5%;
  }
}
@media screen and (max-width: 800px) {
  ._homeLayout_i4l93_1 ._home-hero_i4l93_5 {
    flex-direction: column-reverse;
    align-items: center;
  }
  ._homeLayout_i4l93_1 ._home-hero-left_i4l93_11 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-right: 0;
  }
  ._homeLayout_i4l93_1 ._home-hero-left_i4l93_11 p {
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  ._homeLayout_i4l93_1 ._home-hero-left_i4l93_11 h1 {
    font-size: 4rem;
    margin-bottom: 22px;
  }
  ._homeLayout_i4l93_1 ._home-hero-left_i4l93_11 p {
    font-size: 1.6rem;
  }
  ._homeLayout_i4l93_1 ._home-hero-button_i4l93_29 a {
    height: 40px;
    line-height: 40px;
    font-size: 0.8rem;
    padding: 10px 20px;
  }
  ._homeLayout_i4l93_1 ._home-hero-button_i4l93_29 a:not(._homeLayout_i4l93_1 ._home-hero-button_i4l93_29 a:first-child) {
    margin-left: 10px;
  }
  ._homeLayout_i4l93_1 ._home-hero-right_i4l93_45 img {
    width: 200px;
    height: 200px;
  }
  ._homeLayout_i4l93_1 ._home-hero-right-img-bg_i4l93_54 {
    width: 200px;
    height: 200px;
  }
}
@media screen and (max-width: 700px) {
  ._homeLayout_i4l93_1 ._home-feature_i4l93_63 {
    margin-top: 30px;
  }
  ._homeLayout_i4l93_1 ._home-feature_i4l93_63 ._home-feature-item_i4l93_69 {
    width: 100%;
  }
  ._homeLayout_i4l93_1 ._home-feature_i4l93_63 i {
    font-size: 2rem;
  }
}
[class=dark] ._homeLayout_i4l93_1 h1 {
  text-shadow: none;
}
[class=dark] ._homeLayout_i4l93_1 p {
  text-shadow: none;
}
[class=dark] ._homeLayout_i4l93_1 ._home-hero-right-img-bg_i4l93_54 {
  display: none;
}._copy-button_ab8rs_1 {
  transition: all 0.3s;
  opacity: 0;
}
._copy-button_ab8rs_1 svg {
  font-size: 1rem;
  cursor: pointer;
}
._copy-button_ab8rs_1 svg:first-child {
  color: #98a3aa;
  transition: all 0.3s;
}
._copy-button_ab8rs_1 svg:hover {
  color: #696a6a;
}
._copy-button_ab8rs_1 svg:last-child {
  display: none;
  color: #208a41;
}._docLayout_1492j_1 {
  position: relative;
  width: 100%;
  padding: 80px 10% 0;
  transition: all 0.3s;
}
._docLayout_1492j_1 ._content_1492j_7 {
  background-color: var(--fispo-doc-c-bg);
  box-shadow: var(--box-shadow);
  margin-left: 200px;
  width: calc(100% - 440px);
  padding: 20px 30px 0;
  border-radius: 10px 10px 0 0;
}
._docLayout_1492j_1 ._content-footer_1492j_15 {
  width: 100%;
  height: 60px;
  padding: 10px 0;
  margin-top: 40px;
  border-top: 1px solid #e2e2e3;
  border-bottom: 1px solid #e2e2e3;
  display: flex;
  justify-content: space-between;
}
._docLayout_1492j_1 ._content-footer_1492j_15 ._content-footer-pre_1492j_25,
._docLayout_1492j_1 ._content-footer_1492j_15 ._content-footer-next_1492j_26 {
  width: 45%;
  border-radius: 6px;
}
._docLayout_1492j_1 ._content-footer_1492j_15 ._content-footer-pre_1492j_25 a,
._docLayout_1492j_1 ._content-footer_1492j_15 ._content-footer-next_1492j_26 a {
  display: inline-block;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-decoration: none !important;
  color: #8a9099;
}
._docLayout_1492j_1 ._content-footer_1492j_15 ._content-footer-pre_1492j_25 a:hover,
._docLayout_1492j_1 ._content-footer_1492j_15 ._content-footer-next_1492j_26 a:hover {
  color: #545456;
}
._docLayout_1492j_1 ._content-footer_1492j_15 ._content-footer-pre_1492j_25 a > span:last-child,
._docLayout_1492j_1 ._content-footer_1492j_15 ._content-footer-next_1492j_26 a > span:last-child {
  color: #1b9bf0;
}
._docLayout_1492j_1 ._content-footer_1492j_15 ._content-footer-pre_1492j_25 a svg,
._docLayout_1492j_1 ._content-footer_1492j_15 ._content-footer-next_1492j_26 a svg {
  margin: 0 5px;
}
._docLayout_1492j_1 ._content-footer-next_1492j_26 {
  width: 45%;
  text-align: right;
}
._docLayout_1492j_1 ._content_1492j_7 a {
  color: #1b9bf0;
}
._docLayout_1492j_1 ._content_1492j_7 a:hover {
  color: #005cfb;
  text-decoration: underline;
}
._docLayout_1492j_1 p {
  font-size: 1rem;
}
._docLayout_1492j_1 blockquote {
  background: rgba(217, 232, 255, 0.4196078431);
  border-left: 3px solid #1e3e3f;
  border-radius: 3px;
  margin: 15px 0;
  overflow: auto;
  padding: 0 15px;
}
._docLayout_1492j_1 code {
  color: #d56161;
  background: #f0f4f8;
  border-radius: 4px;
  line-height: 2.5;
  padding: 4px 8px;
}
._docLayout_1492j_1 ol,
._docLayout_1492j_1 ul {
  padding: 0 0 0 20px;
}
._docLayout_1492j_1 ol {
  list-style: decimal;
}
._docLayout_1492j_1 ul {
  list-style: disc;
}
._docLayout_1492j_1 ol li,
._docLayout_1492j_1 ul li {
  margin: 4px 0;
}
._docLayout_1492j_1 table {
  display: table;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  empty-cells: show;
  margin-bottom: 20px;
}
._docLayout_1492j_1 table thead {
  background: rgba(153, 169, 191, 0.1);
}
._docLayout_1492j_1 table th,
._docLayout_1492j_1 table td {
  padding: 6px 12px;
  border: 1px solid #eee;
  vertical-align: middle;
}
._docLayout_1492j_1 hr {
  margin-top: 20px;
  color: #d3d3d3;
}

@media screen and (max-width: 1440px) {
  ._docLayout_1492j_1 {
    padding: 80px 5% 0;
  }
}
@media screen and (max-width: 1200px) {
  ._docLayout_1492j_1 ._content_1492j_7 {
    width: calc(100% - 200px);
  }
}._sidebar_w0fjt_1 {
  padding-top: 10px;
  width: 180px;
  height: calc(100vh - 60px);
  position: fixed;
  top: 60px;
  left: 10%;
  transition: all 0.3s;
}
._sidebar_w0fjt_1 ._sidebarGroup_w0fjt_10 {
  padding-bottom: 15px;
  border-bottom: 1px solid #d3d3d3;
}
._sidebar_w0fjt_1 ._sidebarTitle_w0fjt_14 h2 {
  font-size: 1rem;
}
._sidebar_w0fjt_1 ._sidebarContent_w0fjt_17 {
  margin-bottom: 10px;
}
._sidebar_w0fjt_1 ._sidebarItem_w0fjt_20 {
  font-size: 0.9rem;
  margin-bottom: 10px;
}
._sidebar_w0fjt_1 ._active_w0fjt_24 {
  font-weight: 700;
}
._sidebar_w0fjt_1 ._active_w0fjt_24 a {
  color: #1b9bf0;
}

@media screen and (max-width: 1440px) {
  ._sidebar_w0fjt_1 {
    left: 5%;
  }
}._aside_ru1ok_1 {
  width: 220px;
  max-height: calc(100vh - 100px);
  position: fixed;
  top: 75px;
  right: 10%;
  padding: 10px 20px;
  margin-left: 20px;
  border-left: 1px solid #d3d3d3;
  transition: all 0.3s;
  overflow-y: auto;
}
._aside_ru1ok_1 h2 {
  margin-top: 0;
  font-size: 1rem;
}
._aside_ru1ok_1 ._active_ru1ok_17 a {
  color: #1b9bf0;
}
._aside_ru1ok_1 ._toc-item_ru1ok_20 {
  margin-bottom: 8px;
}
._aside_ru1ok_1 ._toc-item_ru1ok_20 span {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 1440px) {
  ._aside_ru1ok_1 {
    right: 5%;
  }
}
@media screen and (max-width: 1200px) {
  ._aside_ru1ok_1 {
    display: none;
  }
}._footer_1up7z_1 {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 30px 0;
  text-align: center;
  color: #8a9099;
  line-height: 2;
}