._layout_1obw2_1 {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 180px;
}._nav_1jt90_1 {
  position: fixed;
  width: 100%;
  height: 60px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--fispo-nav-c-bg);
  transition: all 0.3s;
  box-shadow: 0 5px 6px -5px rgba(133, 133, 133, 0.6);
  padding: 0 10%;
  z-index: 10000;
  backdrop-filter: blur(30px);
}
._nav_1jt90_1 ._blog-name_1jt90_16 {
  margin-right: 5px;
  display: flex;
  align-items: center;
}
._nav_1jt90_1 ._blog-name_1jt90_16 img {
  width: 28px;
  height: 28px;
  margin-right: 10px;
}
._nav_1jt90_1 ._blog-name_1jt90_16 a {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--fispo-c-text);
}
._nav_1jt90_1 a {
  display: inline-block;
  line-height: 60px;
  color: var(--fispo-nav-c-text);
  transition: all 0.3s;
  font-size: 1.2rem;
}
._nav_1jt90_1 ._menus_1jt90_38 {
  transition: all 0.3s;
}
._nav_1jt90_1 ._menus_1jt90_38 ul {
  display: flex;
  margin: 0;
}
._nav_1jt90_1 ._menus_1jt90_38 ul li {
  margin-left: 30px;
}
._nav_1jt90_1 ._menus_1jt90_38 ul li span {
  margin-left: 5px;
}
._nav-left_1jt90_51 {
  height: 100%;
  display: flex;
}
._nav-right_1jt90_55 {
  height: 100%;
}
._nav-right-tools_1jt90_58 {
  display: flex;
}
._nav-right-menus_1jt90_61 {
  display: none;
  height: 100%;
  line-height: 60px;
}
._nav_1jt90_1 svg {
  cursor: pointer;
  transition: all 0.3s;
  color: var(--fispo-nav-c-text);
  font-size: 1.2rem;
}
._nav_1jt90_1 svg:hover {
  color: var(--fispo-c-blue);
}
._nav-tools-item_1jt90_75 {
  position: relative;
  height: 100%;
  line-height: 60px;
  padding: 0 15px;
}
._nav-tools-item_1jt90_75:not(:first-child)::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 1.2rem;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #afafaf;
}
._nav-menus_1jt90_91 {
  border-top: 1px solid #e4e9ec;
  position: fixed;
  right: 0;
  z-index: 1000;
  background-color: var(--fispo-nav-c-bg);
  width: 100%;
  height: calc(100vh - 60px);
  top: -100%;
  transition: all 0.3s;
  display: none;
  backdrop-filter: blur(30px);
}
._nav-menus_1jt90_91 svg {
  cursor: pointer;
  transition: all 0.3s;
  color: #4f5866;
  font-size: 1.2rem;
}
._nav-menus_1jt90_91 svg:hover {
  color: var(--fispo-c-blue);
}
._nav-menus_1jt90_91 ul li {
  width: 100%;
  padding: 10px;
  text-align: center;
}
._nav-menus_1jt90_91 ul li a {
  font-size: 1.2rem;
}
._nav-menus-show_1jt90_121 {
  top: 60px;
}
._nav-menus-tools_1jt90_124 {
  border-top: 1px solid #e4e9ec;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

._nav-top_1jt90_132 {
  box-shadow: none;
}

@media screen and (max-width: 750px) {
  ._nav_1jt90_1 {
    padding: 0 20px;
  }
  ._nav_1jt90_1 ._menus_1jt90_38 {
    display: none;
  }
  ._nav-right-tools_1jt90_58 {
    display: none;
  }
  ._nav-right-menus_1jt90_61 {
    display: block;
  }
  ._nav-menus_1jt90_91 {
    display: block;
  }
}:root {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Lato,
    Roboto, "PingFang SC", "Microsoft YaHei", sans-serif;

  --default-bg-color: #49b1f5;
  --box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.05);
  --default-border-radius: 8px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #8ab5ff #e6efff;
  word-wrap: break-word;
}

*::selection {
  background: #00c4b6;
  color: #f7f7f7;
}

body {
  background: var(--fispo-c-bg);
  position: relative;
  color: var(--fispo-c-text);
  font:
    500 14px Lexend,
    "Noto Sans SC",
    sans-serif;

  transition: all 0.3s;
}

img {
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

ol,
ul {
  list-style: none;
}

input,
button,
select,
textarea {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: var(--fispo-c-text);
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  transition: all 0.3s;
}

a:hover {
  color: var(--fispo-c-blue);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--fispo-c-text);
  font-weight: 700;
  margin: 15px 0;
  word-break: keep-all;
}

ol,
p,
ul {
  line-height: 1.7;
  margin: 15px 0;
}

.mobile-nav {
  overflow: hidden;
}
/**
 * Colors Base
 *
 * These are the pure base color presets. Most of the time, you should not be
 * using these colors directly in the theme but rather use "Colors Theme"
 * instead because those are "Theme (light or dark)" dependant.
 * -------------------------------------------------------------------------- */

:root {
  --fispo-c-white: #ffffff;
  --fispo-c-white-1: #f6f8fa;
  --fispo-c-white-2: #f6f8fa46;
  --fispo-c-white-3: #efefef;

  --fispo-c-gray: #4c4948;
  --fispo-c-gray-1: #a9adb3;
  --fispo-c-gray-2: #4f5866;
  --fispo-c-gray-3: #dfdfd6;
  --fispo-c-gray-4: #eee;

  --fispo-c-blue: #49b1f5;
  --fispo-c-blue-1: #5da6d6;
  --fispo-text-highlight-color: #1f2d3d;

  --fispo-c-orange: #ff7242;

  --fispo-c-dark: #1c1c1c;
  --fispo-c-dark-1: #050709;
  --fispo-c-dark-2: #05070991;
  --fispo-c-dark-3: #3c3c43;
  --fispo-c-dark-4: #202127;

  --fispo-c-dark-5: #121212;
  --fispo-c-dark-6: rgba(0, 0, 0, 0.3);
  --fispo-c-dark-7: #2c2c2c;
  --fispo-c-dark-8: #1f1f1f;

  --fispo-c-green-1: #00c4b6;
}

/**
 * Colors Theme
 * -------------------------------------------------------------------------- */

:root {
  --fispo-c-bg: var(--fispo-c-white-1);
  --fispo-nav-c-bg: var(--fispo-c-white-2);
  --fispo-nav-c-text: var(--fispo-c-gray-2);
  --fispo-c-text: var(--fispo-c-dark);

  --fispo-hero-c-title: var(--fispo-c-blue);
  --fispo-hero-c-text: var(--fispo-c-dark-3);
  --fispo-block-c-bg: var(--fispo-c-gray-4);
}

.dark {
  --fispo-c-bg: var(--fispo-c-dark-1);
  --fispo-nav-c-bg: var(--fispo-c-dark-2);
  --fispo-nav-c-text: var(--fispo-c-gray-1);
  --fispo-c-text: var(--fispo-c-white-3);

  --fispo-hero-c-title: var(--fispo-c-blue-1);
  --fispo-hero-c-text: var(--fispo-c-gray-3);
  --fispo-block-c-bg: var(--fispo-c-dark-4);
}
._homeLayout_ea3wb_1 {
  padding-top: 200px;
  margin: 0 10%;
}
._homeLayout_ea3wb_1 ._home-hero_ea3wb_5 {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}
._homeLayout_ea3wb_1 ._home-hero-left_ea3wb_11 {
  width: 40%;
  margin-right: 15%;
}
._homeLayout_ea3wb_1 ._home-hero-left_ea3wb_11 h1 {
  font-weight: 700;
  font-size: 6rem;
  margin-bottom: 32px;
  color: var(--fispo-hero-c-title);
  text-shadow: 0 10px 20px rgba(109, 194, 250, 0.5215686275);
  white-space: nowrap;
}
._homeLayout_ea3wb_1 ._home-hero-left_ea3wb_11 p {
  font-weight: 700;
  font-size: 2rem;
  text-shadow: 0 10px 20px rgba(109, 109, 109, 0.3019607843);
  color: var(--fispo-hero-c-text);
}
._homeLayout_ea3wb_1 ._home-hero-button_ea3wb_29 a {
  background-color: var(--fispo-block-c-bg);
  height: 50px;
  line-height: 50px;
  font-size: 1rem;
  padding: 12px 24px;
  border-radius: 20px;
  font-weight: 700;
}
._homeLayout_ea3wb_1 ._home-hero-button_ea3wb_29 a:not(._homeLayout_ea3wb_1 ._home-hero-button_ea3wb_29 a:first-child) {
  margin-left: 20px;
}
._homeLayout_ea3wb_1 ._home-hero-button_ea3wb_29 a:hover {
  background-color: var(--fispo-c-blue);
  color: #fff;
}
._homeLayout_ea3wb_1 ._home-hero-right_ea3wb_45 {
  position: relative;
}
._homeLayout_ea3wb_1 ._home-hero-right_ea3wb_45 img {
  width: 300px;
  height: 300px;
  filter: drop-shadow(-2px 4px 6px rgba(0, 0, 0, 0.2));
  transition: all 0.3s;
}
._homeLayout_ea3wb_1 ._home-hero-right-img-bg_ea3wb_54 {
  width: 300px;
  height: 300px;
  position: absolute;
  border-radius: 50%;
  filter: blur(70px);
  background-image: linear-gradient(var(--fispo-c-blue) 50%, #004cfe 50%);
  transition: all 0.3s;
}
._homeLayout_ea3wb_1 ._home-feature_ea3wb_63 {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
._homeLayout_ea3wb_1 ._home-feature_ea3wb_63 ._home-feature-item_ea3wb_69 {
  border-radius: 10px;
  background-color: var(--fispo-block-c-bg);
  width: 40%;
  margin: 20px;
  padding: 20px;
  color: var(--fispo-hero-c-text);
}
._homeLayout_ea3wb_1 ._home-feature_ea3wb_63 i {
  font-size: 2rem;
}

@media screen and (max-width: 800px) {
  ._homeLayout_ea3wb_1 ._home-hero_ea3wb_5 {
    flex-direction: column-reverse;
    align-items: center;
  }
  ._homeLayout_ea3wb_1 ._home-hero-left_ea3wb_11 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-right: 0;
  }
  ._homeLayout_ea3wb_1 ._home-hero-left_ea3wb_11 p {
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  ._homeLayout_ea3wb_1 ._home-hero-left_ea3wb_11 h1 {
    font-size: 4rem;
    margin-bottom: 22px;
  }
  ._homeLayout_ea3wb_1 ._home-hero-left_ea3wb_11 p {
    font-size: 1.6rem;
  }
  ._homeLayout_ea3wb_1 ._home-hero-button_ea3wb_29 a {
    height: 40px;
    line-height: 40px;
    font-size: 0.8rem;
    padding: 10px 20px;
  }
  ._homeLayout_ea3wb_1 ._home-hero-button_ea3wb_29 a:not(._homeLayout_ea3wb_1 ._home-hero-button_ea3wb_29 a:first-child) {
    margin-left: 10px;
  }
  ._homeLayout_ea3wb_1 ._home-hero-right_ea3wb_45 img {
    width: 200px;
    height: 200px;
  }
  ._homeLayout_ea3wb_1 ._home-hero-right-img-bg_ea3wb_54 {
    width: 200px;
    height: 200px;
  }
}
@media screen and (max-width: 700px) {
  ._homeLayout_ea3wb_1 ._home-feature_ea3wb_63 {
    margin-top: 30px;
  }
  ._homeLayout_ea3wb_1 ._home-feature_ea3wb_63 ._home-feature-item_ea3wb_69 {
    width: 100%;
  }
  ._homeLayout_ea3wb_1 ._home-feature_ea3wb_63 i {
    font-size: 2rem;
  }
}
[class=dark] ._homeLayout_ea3wb_1 h1 {
  text-shadow: none;
}
[class=dark] ._homeLayout_ea3wb_1 p {
  text-shadow: none;
}
[class=dark] ._homeLayout_ea3wb_1 ._home-hero-right-img-bg_ea3wb_54 {
  display: none;
}