.layout {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  .header {
    width: 100%;
    height: 100vh;
  }

  .not-home-page {
    height: 400px;
  }

  .main {
    padding: 40px 15px;
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
  }

  .mainLeft {
    flex: 3;
    margin-right: 15px;
  }

  .mainRight {
    flex: 1;
  }
}
