.aside {
  width: 220px;
  position: fixed;
  top: 75px;
  right: 10%;
  padding: 0 20px;
  margin-left: 20px;
  border-left: 1px solid #d3d3d3;

  h2 {
    margin-top: 0;
    font-size: 1rem;
  }

  .active {
    a {
      color: #1b9bf0;
    }
  }

  .toc-item {
    margin-bottom: 8px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
