.aside {
  width: 220px;
  height: calc(100vh - 100px);
  position: fixed;
  top: 75px;
  right: 10%;
  padding: 10px 20px;
  margin-left: 20px;
  border-left: 1px solid #d3d3d3;
  transition: all 0.3s;
  overflow-y: scroll;

  h2 {
    margin-top: 0;
    font-size: 1rem;
  }

  .active {
    a {
      color: #1b9bf0;
    }
  }

  .toc-item {
    margin-bottom: 8px;
    span {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      line-clamp: 1;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

@media screen and (max-width: 1440px) {
  .aside {
    right: 5%;
  }
}

@media screen and (max-width: 1200px) {
  .aside {
    display: none;
  }
}
