.rightSide {
  position: fixed;
  right: 10px;
  bottom: 30px;
  z-index: 1000;
  transition: all 0.3s ease-in-out;

  &-settings {
    position: absolute;
    bottom: 80px;
    right: 0;
    transition: all 0.3s ease-in-out;
  }

  &-item {
    cursor: pointer;
    width: 35px;
    height: 35px;
    background-color: #49b1f5;
    margin-bottom: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--fispo-c-white);
    transition: all 0.3s;

    &:hover {
      background-color: var(--fispo-c-orange);
    }
  }

  &-hide {
    right: -40px;
    opacity: 0;
  }
}
