div[class*="language-"] {
  border: 1px solid #ebeef5;
  border-radius: 15px;
  box-shadow: 0 2px 12px 0 #0000001a;
  margin: 25px 0;
  overflow: hidden;
  white-space: normal;
  position: relative;
  padding: 50px 30px 10px;
  background-color: rgb(46, 52, 64);
}

.highlight-tools {
  background: linear-gradient(to right, #876eed 0, #69b4ec 100%);
  border-radius: 0 0 10px 10px;
  box-shadow: 1px 1px 0.75rem #856eed4d;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  left: 30px;
  padding: 10px 15px;
  position: absolute;
  top: 0;
}

.shiki {
  background-color: transparent !important;
}

[class*="language-"] .shiki code {
  background-color: transparent;
  line-height: 1.5;
  padding: 0;
}

[class*="language-"] pre {
  position: relative;
  z-index: 1;
  margin: 0;
  padding-bottom: 16px;
  overflow-x: auto;
  scrollbar-color: #a1a1a1 transparent;
}
