div[class*="language-"] {
  box-shadow: 0 2px 12px 0 #0000001a;
  border-radius: 5px;
  margin: 15px 0;
  overflow: hidden;
  white-space: normal;
  position: relative;
}

.highlight-tools .lang {
  display: none;
}

.highlight-tools {
  position: absolute;
  right: 0;
  padding: 6px 10px 6px 0;
  z-index: 100;
}

div[class*="language-"]:hover #copy-button {
  opacity: 1;
}

.shiki {
  position: relative;
  padding: 15px;
  background-color: var(--fispo-code-block-c-bg) !important;
}

[class*="language-"] .shiki code {
  background-color: transparent;
  line-height: 1.5;
  padding: 0;
  font-size: 14px;
}

[class*="language-"] pre {
  position: relative;
  z-index: 1;
  margin: 0;
  overflow-x: auto;
  scrollbar-color: #a1a1a1 transparent;
}
