.footer {
  width: 100%;
  height: 144px;
  background-image: url(../banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &::before {
    position: absolute;
    width: 100%;
    height: 144px;
    background-color: rgba(0, 0, 0, 0.3);
    content: "";
  }

  p {
    color: var(--fispo-c-footer-text);
    text-align: center;
    line-height: 2;
    z-index: 10;
  }

  .framework-info {
    span,
    a {
      color: var(--fispo-c-footer-text);
      margin: 0 3px;
    }

    a {
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
