:root {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Lato,
    Roboto, "PingFang SC", "Microsoft YaHei", sans-serif;

  --scrollbar-color: #49b1f5;
  --default-bg-color: #49b1f5;
  --box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.05);
  --default-border-radius: 8px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-color) transparent;
}

*::selection {
  background: #00c4b6;
  color: #f7f7f7;
}

body {
  position: relative;
}

img {
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

ol,
ul {
  list-style: none;
}

input,
button,
select,
textarea {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: #333;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
