div[class*="language-"] {
  margin: 8px 0;
  position: relative;
  margin: 16px -24px;
  overflow-x: auto;
  transition: background-color 0.5s;
}

div[class*="language-"] code {
  font-weight: 400;
  background-color: transparent;
}

@media (min-width: 640px) {
  div[class*="language-"] {
    border-radius: 8px;
    margin: 16px 0;
  }
}

@media (max-width: 639px) {
  li div[class*="language-"] {
    border-radius: 8px 0 0 8px;
  }
}

div[class*="language-"] + div[class*="language-"] > div[class*="language-"] {
  margin-top: -8px;
}

[class*="language-"] pre,
[class*="language-"] code {
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

[class*="language-"] pre {
  position: relative;
  z-index: 1;
  margin: 0;
  padding-bottom: 16px;
  background-color: var(--fispo-code-bg) !important;
  overflow-x: auto;
}

[class*="language-"] code {
  display: block;
  padding: 0 24px;
  width: fit-content;
  min-width: 100%;
  line-height: var(--fispo-code-line-height);
  font-size: var(--fispo-code-font-size);
  color: var(--fispo-code-block-color);
  transition: color 0.5s;
}

[class*="language-"] code .highlighted {
  background-color: var(--fispo-code-line-highlight-color);
  transition: background-color 0.5s;
  margin: 0 -24px;
  padding: 0 24px;
  width: calc(100% + 2 * 24px);
  display: inline-block;
}

[class*="language-"] > .highlight-tools {
  display: flex;
  align-items: center;
  min-height: 24px;
  width: 100%;
  z-index: 2;
  font-size: 16px;
  font-weight: 500;
  color: var(--fispo-c-text-light);
  background-color: var(--fispo-hltools-bg);
  transition:
    color 0.4s,
    opacity 0.4s;
}

[class*="language-"] > .highlight-tools::after {
  position: absolute;
  left: 14px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #fc625d;
  -webkit-box-shadow:
    20px 0 #fdbc40,
    40px 0 #35cd4b;
  box-shadow:
    20px 0 #fdbc40,
    40px 0 #35cd4b;
  content: " ";
}

[class*="language-"] > .highlight-tools .lang {
  margin-left: 75px;
}
